.titulo-grecia{
  color: brown;
  background-color: aliceblue;
  font-size: 50px;
  text-align: center;
  }

  h3{
    color: brown;
  }

  .contenedor{
    display: flex;
    background-color: lightcoral;
    width: 700px;
    height: 600;
    margin: 10px;
    padding: 20px;
    justify-content: center;
  }

  .div1{
    display: block;
    margin: 8px;
    padding: 10px;
    border: 2px black solid;
    width: 300px;
    height:400px;
    background-color: white;
    justify-content: center;
  }
  
  .div2{
    display: block;
    margin: 8px;
    padding: 10px;
    border: 2px black solid;
    width: 300px;
    height:400px;
    background-color: white;
  }